html{
    font-size: 80%;
}

#backgImg{
    padding: 560px 0 0;
    background-image: url("../../img/OVOToB-2019-HEADER-CAVENDISH-1920x738@2x.png");
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: 100%;
    top:-300px;
    z-index: 1;
}

.viewport-page{
    position: absolute;
    margin: 0.8rem 0 0 0;
    background-image: url("../../img/Background_White.png");
    background-size: 100%;
    z-index: 10;
}

.toolbar-full{
    background-image: url("../../img/Toolbar.png");
    background-size: 100%100%;
    position: absolute;
    white-space: normal;
    right: 0;
    top: 0;
    height: 3rem;
    width: 83%;
    margin-left: 2em;
    padding: 0.25rem 0 1rem 2rem;

}
.toolbar-link{
    top: -1px;
    min-width: 4em;
    max-width: 15%;
    color: white;
    height: 3rem;
    margin: 0 0.2em 0 0.2em;
    font-size: 1.5em;
    display: inline-block;
}
.toolbar-link:hover{
    color: #1E3A21;
    cursor: pointer;
}

#profileBtn{
    background-color: blue;
    background-size: 100%100%;
    position: absolute;
    width: 2.5rem;
    top: 0.25rem;
    right: 1.5rem;
}

.seasonBtn{
    max-width: 20%;
    position: absolute;
    top: 0.25rem;
    right: 4.5rem;
    display: inline-block;
    font-size: 1.5rem;
    color: white;

}
.seasonBtn-content{
    display: inline-block;
    margin-left: 0.5rem;
    color: grey;
    cursor: pointer;
}



#logo {
    height: 3.2rem;
    max-width: 15%;
    position: absolute;
    left: 0;
    top: -0.2rem;
    cursor: pointer;
}