.feedback-summary{
    background-image: url("../../img/SummaryBox@2x.png");
    background-size: 100% 100%;
    position: fixed;
    right: 5%;
    bottom: 10%;
    color: cornflowerblue;
    display: block;
    padding: 5px;

    vertical-align: top;
    z-index: 99;
    font-size: 14px;
}

.feedback-summary:hover{
    font-size: 18px;
    animation: summary-grow;
    animation-duration: 0.5s;
}
@keyframes summary-grow {
    from{
        font-size: 14px;
    }
    to{
        font-size: 18px;
    }
}

.feedback-summary-title{
    display: block;
    margin-right: 5%;
    margin-left: 2.5%;
    font-weight: bold;
    font-size: 1.1em;
    color: lightgrey;
    position: relative;
}

.feedback-summary-content-left{
    white-space: nowrap;
    line-break: strict;
    position: relative;
    display: inline-block;
    vertical-align: inherit;
    width: 40%;
    margin: 2.5%
}

.feedback-summary-content-right{
    white-space: nowrap;
    line-break: strict;
    position: relative;
    display: inline-block;
    vertical-align: inherit;
    width: 40%;
    margin: 2.5%
}

.feedback-summary-subject{
    background-image: url("../../img/SubjectBox@2x.png");
    background-size: 100%100%;
    margin-left: 5px;
    padding: 2% 5%;
    display: inline-block;
    color: #3B56FF;
    font-weight: bolder;
}