.session-list{
    align-content: center;
    white-space: nowrap;
    overflow-x: auto;
    display: flex;
    align-items: center;
    scrollbar-base-color: cornflowerblue;
}

.session-list::-webkit-scrollbar{
    height: 3px;
}
.session-list::-webkit-scrollbar-track {
    box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
}
.session-list::-webkit-scrollbar-thumb {
    background-color: cornflowerblue;
    outline: 1px solid cadetblue;
}

.session-box {
    margin: 5px;
    font-size: 12px;
    position: relative;

    background-image: url("../../img/SubjectBox@2x.png");
    background-size: 100%100%;
    padding: 7px 2.5%;
    display: inline-block;
    color: #3B56FF;
    font-weight: bolder;
}

.session-box-inactive {
    color: white;
}

.session-box:hover{
    color: white;
    cursor: pointer;
}